.custom-caption {
  position: absolute;
  top: 25%;
  left: 2%;
  color: rgb(0, 0, 0);
  text-align: left;
  max-width: 500px;
}


.custom-caption h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.custom-caption h6 {
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.discover-btn {
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #5f6ac4;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.discover-btn:hover {
  background-color: #4a56a3;
}
